.quizlist__quizitem {
    padding: 1em;
    border-bottom: 1px solid #8d99ae;
}

.quizitem__h3 {
    font-size: 1.4rem;
}

.quizitem__answers {
    display: flex;
    flex-direction: column;
}

.selected {
    background-color: #D6DBF5;
}

@media (min-width: 700px) {
    .quizitem__answers {
        flex-direction: row;
    }
}