.quizlist__quizitem {
    padding: 0.5em;
}

.quizitem__h3 {
    font-size: 1.4rem;
}

.quizitem__answers {
    display: flex;
    flex-direction: column;
}

@media (min-width: 700px) {
    .quizitem__answers {
        flex-direction: row;
    }
}