* {
  box-sizing: border-box;
}

html, body {
  font-family: sans-serif;
  background: #5c28af;
  /* height: 100%;
  width: 100%; */
}

h2 {
  font-size: 2.5rem;
  margin-bottom: 0;
}

h3 {
  font-size: 1.5rem;
}

.button {
  padding: 1em 2.5em;
  border-radius: 8px;
  border: none;
  font-size: 1.1rem;
  margin-top: 2em;
}

.card {
  display: flex;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, 0);
  max-width: 700px;
  width: 90vw;
  height: 60vh;
  padding: 5em;
  background: white;
  background-position: center;
  background-image: url(./components/UI/assets/Background.svg);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}