* {
  box-sizing: border-box;
}

html,
body {
  font-family: "Karla", sans-serif;
  background: #560bad;
  color: #293264;
  /* height: 100%;
  width: 100%; */
}

.card {
  display: flex;
  position: absolute;
  top: 2%;
  left: 50%;
  transform: translate(-50%, 0);
  max-width: 900px;
  width: 90vw;
  padding: 1em;
  background: white;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(./components/UI/assets/Background.svg);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}
